<header>
  <h2>Edit Income</h2>
</header>

<form method="post" action="/update_income" id="save_income">
  <fieldset>
    <% session[:income].each do |number, income| %>
      <div class="input_wrapper">
        <dl>
          <dt>
            <label for="income_name_<%= number %>">Income</label>
          </dt>
          <dd>
            <input type="text" id="income_name_<%= number %>" name="income_name_<%= number %>" value="<%= income["name"] %>" data-previous-value="<%= income["name"] %>">
          </dd>
          <dt>
            <label for="income_amount_<%= number %>">Amount</label>
          </dt>
          <dd>
            <input type="number" id="income_amount_<%= number %>" name="income_amount_<%= number %>" value="<%= income["amount"] %>" min=".01" step=".01">
          </dd>
          <dt>
            <label for="income_occurance_<%= number %>">Occurance</label>
          </dt>
          <dd>
            <select id="income_occurance_<%= number %>" name="income_occurance_<%= number %>">
              <option value="weekly" <%= "selected" if income["occurance"] == "weekly" %>>Weekly</option>
              <option value="fortnightly" <%= "selected" if income["occurance"] == "fortnightly" %>>Fortnightly</option>
              <option value="monthly" <%= "selected" if income["occurance"] == "monthly" %>>Monthly</option>
              <option value="quarterly" <%= "selected" if income["occurance"] == "quarterly" %>>Quarterly</option>
              <option value="six-monthly" <%= "selected" if income["occurance"] == "six-monthly" %>>Every Six Months</option>
              <option value="yearly" <%= "selected" if income["occurance"] == "yearly" %>>Yearly</option>
            </select>
          </dd>
        </dl>
        <a href="#" class="delete"><img src="/images/bin.png"></img></a>
        <div class="dialog">
          <p>Are you sure you want to delete this?</p>
          <button type="button" class="confirm">Yes</button>
          <button type="button" class="cancel">No</button>
        </div>
        <div class="overlay"></div>
      </div>
    <% end %>
    <a herf="#" class="add_input">+ Income</a>
  </fieldset>
  <div id="actions">
    <button type="submit">Save</button>
    <a href="/summary" class="cancel">Cancel</a>
  </div>
</form>
