<header>
  <h2>Summary</h2>
  <select id="occurance" data-occurance="monthly">
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="fortnightly">Fortnightly</option>
    <option value="monthly" selected>Monthly</option>
    <option value="quarterly">Quarterly</option>
    <option value="six_monthly">Six Monthly</option>
    <option value="yearly">Yearly</option>
  </select>
</header>

<div id="summary">
  <section id="income">
    <h3>Income: £<span class="amount" data-monthly-amount="<%= @monthly_income_total %>"><%= @monthly_income_total %></span></h3>
    <dl>
      <% @monthly_income.each do |income| %>
        <dt><%= income[:name] %></dt>
        <dd>£<span class="amount" data-monthly-amount="<%= income[:amount] %>"><%= income[:amount] %></span></dd>
      <% end %>
    </dl>

    <a href="/income/edit" class="edit">Edit</a>
  </section>

  <section id="expenses">
    <h3>Expenses: £<span class="amount" data-monthly-amount="<%= @monthly_expenses_total %>"><%= @monthly_expenses_total %></span></h3>
    <dl>
      <% @monthly_expenses.each do |category, expenses| %>
        <% total = expenses.reduce(0) { |sum, exp| sum + exp[:amount] } %>
        <dt class="category"><%== "#{category}: £<span class='amount' data-monthly-amount='#{total}'>#{total}" %></span></dt>
        <dd>
          <dl>
          <% expenses.each do |expense| %>
            <dt><%= expense[:name] %></dt>
            <dd>£<span class="amount" data-monthly-amount="<%= expense[:amount] %>"><%= expense[:amount] %></span></dd>
          <% end %>
          </dl>
        </dd>
      <% end %>
    </dl>

    <a href="/expenses/edit" class="edit">Edit</a>
  </section>

  <section id="spare_cash">
    <h3>Spare Cash: £<span class="amount" data-monthly-amount="<%= @monthly_spare %>"><%= @monthly_spare %></span></h3>
  </section>
</div>
