<header>
  <h2>Summary</h2>
</header>

<div id="summary">
  <section id="income">
    <h3>Income: <%= @monthly_income_total %></h3>
    <dl>
      <% @monthly_income.each do |income| %>
        <dt><%= income[:name] %></dt>
        <dd><%= income[:amount] %></dd>
      <% end %>
    </dl>
  </section>

  <section id="expenses">
    <h3>Expenses: <%= @monthly_expenses_total %></h3>
    <dl>
      <% @monthly_expenses.each do |category, expenses| %>
        <dt class="category"><%= category %></dt>
        <dd>
          <dl>
          <% expenses.each do |expense| %>
            <dt><%= expense[:name] %></dt>
            <dd><%= expense[:amount] %></dd>
          <% end %>
          </dl>
        </dd>
      <% end %>
    </dl>
  </section>

  <section id="spare_cash">
    <h3>Spare Cash: <%= @monthly_spare %></h3>
  </section>
</div>
